body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: [left] 1fr [middle] 3fr [right] 1fr;
  grid-template-rows: [top] 1fr [middle] 3fr [bottom] 2fr;
}

body.dark{
  background-color: #111111;
  color:aliceblue;
}

.middle-top{
  grid-column: middle;
  grid-row: top;
  margin: auto;
  width: 50%;
}

.middle-middle{
  grid-column: middle;
  grid-row: middle;
  margin: auto;
  width: 50%;
}

.middle-bottom{
  display: flex;
  grid-column: middle;
  grid-row: bottom;
  margin: auto;
  width: 50%;
}

.middle-bottom.floats{
  flex: 1;
  margin: auto;
  width: 50%;
}

.left-top{
  grid-row: top;
}

.left-middle{
  grid-row: middle;
}

.left-bottom{
  grid-row: bottom;
}

.right-grid{
  grid-column: right;
}

.text-display{
  color:gray;
}

.button{
  padding: 10px;
}
